<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>中国壶商网</title>
    <style type="text/css">
    * {margin: auto; text-align: center;}
	.g-head{width:720px; height: 150px; border: 1px solid black;}
	.g-body{width:720px; height: 520px; border: 1px solid black;}
	.g-foot{width:720px; height: 150px; border: 1px solid black;}
</style>
</head>
<body>
	<div class="container">
		<div class="g-head">
			<div>这是页头</div>
        </div>
        <div class="g-body">
        	<div>这是主体</div>
		</div>
		<div class="g-foot">
			<div>这是页脚</div>
		</div>
    </div>
</body>
</html>