# install base packages
Django==1.8
mysql-python==1.2.5
django-allauth==0.19.1
django-pagination==1.0.7


#
# install djangoBB
# git clone https://github.com/slav0nic/DjangoBB.git
# cd DjangoBB
# sudo python setup install

# install external packages

# djangobb requirements
django-messages==0.5.1
django-nocaptcha-recaptcha==0.0.18
# # BBCode to HTML
postmarkup
# # TIMEZONE
pytz
# # Pictures
Pillow
# # Search
django-haystack==2.4.0
Whoosh==2.7.0


